@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/editablegrid.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/editablegrid.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/editablegrid_renderers.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/editablegrid_editors.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/editablegrid_validators.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/editablegrid_utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/editablegrid_charts.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/actions.js")" type="text/javascript"></script>
    </head>
    <body>
        <section id="top">
            <div class="wrapper">
                <h1>@title</h1><img style="height: 85px;margin-left: 1em;position: absolute;top: 7px;" src="@routes.Assets.versioned("images/michel.png")" />
            </div>
        </section>

        <div id="content" class="wrapper doc">
            <article>
                @* And here's where we render the `Html` object containing
                 * the page content. *@
                @content
            </article>
        </div>
    </body>
</html>
