@import services.Student
@import services.Course
@(message: String, students: Map[Long, Student], courses: Map[Long, Course])

  @defining(play.core.PlayVersion.current) { version =>
      <h1>Students</h1>
      <table class="things-table" id="table-students">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Age</th>
          <th></th>
        </tr>
        @for(((studentId, student), rowId) <- students.zipWithIndex) {
          <tr id="row-student-@rowId" studentId="@studentId">
            <td class="student-first-name">@student.firstName</td>
            <td class="student-last-name">@student.lastName</td>
            <td class="student-age">@student.age</td>
            <td><button onclick="deleteStudent(@rowId, @studentId, '@student.firstName')">Delete</button></td>
          </tr>
        }
      </table>

      <h1>Courses</h1>
      <table class="things-table" id="table-courses">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Has apero?</th>
          <th></th>
        </tr>
        @for(((courseId, course), rowId) <- courses.zipWithIndex) {
          <tr id="row-course-@rowId" courseId="@courseId">
            <td class="course-name">@course.name</td>
            <td class="course-description">@course.description</td>
            <td class="course-has-apero" realValue="@course.hasApero match {
              case Some(apero) => {@apero}
              case None => {null}
            }">
            @course.hasApero match {
              case Some(apero) => {
                @apero
              }
              case None => {
                <i>NULL</i> (no spoil!)
              }
            }
            </td>
            <td><button onclick="deleteCourse(@rowId, @courseId, '@course.name')">Delete</button></td>
          </tr>
        }
      </table>

      <p>
        Add students and even more with the REST API!
      </p>
      <br/>
      <a href="@routes.HomeController.about()">About...</a>
  }
